
<div class="d-flex justify-content-center align-items-center">
    
    <div class="shadow-sm bg-white p-2">

        <div class="p-2 fw-bold text-center border-bottom">
            <div class="d-flex align-items-center justify-content-center p-3">
                <i class="square-4r8 color-orange-light">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z" />
                </svg>
            </i>
            </div>
            <div class="d-flex align-items-center justify-content-center">
            <span class="text-uppercase">Are you sure?</span>
            </div>
            <div class="p-1"></div>
        </div>

        <div class="p-1"></div>

        <div class="bg-white width-18r p-2">
        
                <div class="d-flex justify-content-center alig-items-center p-2 w-100">
                    <div class="d-flex w-100">
                        <button type="button" id="cancel_delete" class="d-flex justify-content-center alig-items-center p-3 shadow-sm btn-green w-100 lh-1 text-uppercase">
                            cancel
                        </button>

                        <div class="p-1"></div>

                        <button type="button" id="delete" class="d-flex justify-content-center alig-items-center p-3 shadow-sm btn-red w-100 lh-1 text-uppercase">
                        Delete
                    </button>
                    </div>
                </div>
            
        </div>

    </div>

</div>